<div class="proposals-list-container">
    <ul class="proposals-list">

    </ul>
</div>

<style>
    .proposals-list-container {
        height: 100vh;
        width: 250px;
        display: flex;
        margin-left: 40px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: fixed;
    }

    ul {
        grid-row: 1;
        grid-column: 1;
        height: 100%;
        width: 250px;
        display: flex;
        padding: 0;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
        margin: 0;
        position: fixed;
        font-weight: 700;
    }

    @media only screen and (max-width: 1024px) {
        .proposals-list-container {

        }

        ul {

        }

	}
</style>
